<div id="form-container" style="width:100%">
	<h1>Growth Curve Analysis Tool</h1>

	<div>
	  This tool processes microbial growth curve data collected in a microtiter plate format and 
	  generates a table of biologically meaningful growth curve characteristics, as well as relevant 
	  plots. These characteristics can be used to select strains with optimal growth properties.
	</div>

	<%= render 'form' %>
</div>
